[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gofastr"]
	path = gofastr
	url = https://github.com/trinker/gofastr
[submodule "lexicon"]
	path = lexicon
	url = https://github.com/trinker/lexicon
[submodule "numform"]
	path = numform
	url = https://github.com/trinker/numform
[submodule "pacman"]
	path = pacman
	url = https://github.com/trinker/pacman
[submodule "qdap"]
	path = qdap
	url = https://github.com/trinker/qdap
[submodule "qdapDictionaries"]
	path = qdapDictionaries
	url = https://github.com/trinker/qdapdictionaries
[submodule "qdapRegex"]
	path = qdapRegex
	url = https://github.com/trinker/qdapregex
[submodule "qdapTools"]
	path = qdapTools
	url = https://github.com/trinker/qdaptools
[submodule "sentimentr"]
	path = sentimentr
	url = https://github.com/trinker/sentimentr
[submodule "textclean"]
	path = textclean
	url = https://github.com/trinker/textclean
[submodule "textshape"]
	path = textshape
	url = https://github.com/trinker/textshape
[submodule "textstem"]
	path = textstem
	url = https://github.com/trinker/textstem
[submodule "wakefield"]
	path = wakefield
	url = https://github.com/trinker/wakefield
